@model List<Song>

<h2>All Songs</h2>
<form asp-action="Index" asp-controller="Song" method="post"> 
    <select name="LanguageId" asp-items="@ViewBag.songLanguage">
        <option value="">Select Language </option>
    </select>

    <button type="submit" class="btn btn-primary">Go</button>
</form>    

<div class="row">
    @foreach(Song songs in Model) {
        <div class="panel panel-info col-sm-4">
            <div class="panel-heading">
                Song Name: @songs.Name
            </div>
            <div class="panel-body">
                <p>Song Language: @songs.Language.Name</p>
                <p>Singer: @songs.Singer</p>
            </div>
            <div class="panel-footer">
                <a asp-action="Edit" 
                    asp-controller="Song" 
                    asp-route-Id="@songs.Id" 
                    class="btn btn-info">Edit
                </a>
                <a asp-action="Delete" 
                    asp-controller="Song" 
                    asp-route-Id="@songs.Id" 
                    class="btn btn-danger">Delete
                </a>
            </div>      
        </div>
    }
</div> 
