@model SongVm

<h2>Songs</h2>

<form asp-action="New" asp-controller="Song" method="post">

    <input hidden asp-for="@Model.Id"/>
    <input hidden asp-for="@Model.IsEditMode"/>

    <select asp-for="LanguageId" asp-items="@ViewBag.songLanguage">
        <option value="">Select Language </option>
    </select>

    <label asp-for="@Model.Name"></label>
    <input asp-for="@Model.Name"/>

    <div>
        <input type ="radio" asp-for="Singer" checked="checked" value="Eid seran">
        <label for="singer">Eid seran</label>

        <input type ="radio" asp-for="Singer" value="Anu malik">
        <label for="singer">Anu malik</label>

        <input type ="radio" asp-for="Singer" value="Raju Lama">
        <label for="singer">Raju Lama</label>
    </div>

    <button class="btn btn-primary" type="submit">save</button>

</form>